[Unit]
Description=E.M.M.A Aegis-Pandora Edge Core
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/emma/
ExecStart=/usr/bin/python3 /opt/emma/aegis_core.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
